/* Universal styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e9d;
    min-height: 100vh;
}
/* container code starts */
.container{
    max-width: 600px;
    padding: 1% 1em;
    background-color: #fff;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
/* container code ends */
/* Profile Image code starts */
.container .imgbox{
    width: 300px;
    height: 300px;
    position: relative;
    border: 10px solid #999;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.container .imgbox img{
    width: 100%;
    position: relative;
}
/* Profile Image code ends */
/* user-details code starts */
.container #content
{
    position: relative;
    padding: 20px;
    min-width: 450px;
    margin: -5em 1% -2em;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container #content h3{
    font-size: 1.4em;
    color: #555;
}
.container #content h1{
    font-size: 1.6em;
    color: #222;
}
/* user-details code ends */
/* userinfo code starts */
.container ul{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-width: 450px;
}
.container ul li{
    margin: 0 1em 0.5em;
    list-style-type: none;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.container ul li:hover{
    color: #5add5a;
}
.container ul li::after{
    content: '';
    width: 0;
    margin: auto;
    position: relative;
    top: 3px;
    height: 3px;
    background-color: #5add5a;
    display: block;
    transition: 0.3s;
}
.container ul li:hover::after{
    width: 30px;
}
/* userinfo code ends */



@media screen and (max-width:440px)
{
    .container{
        max-width: 350px;
        margin: auto 2em;
    }
    .container .imgbox{
        width: 200px;
        height: 200px;
        transform: translate(-50%,-50%);
        overflow: hidden;
    }
    .container ul{
        width: 200px;
        flex-direction: column;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .container ul li{
        font-size: 1.8em;
    }
    .container #content{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        min-width: 300px;
        margin: -1.5em auto;
    }
    .container #content h3{
        font-size: 1.1em;
        color: #555;
    }
    .container #content h1{
        font-size: 1.3em;
        color: #222;
    }
}